<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Cuestionario tipo test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="style.css" />
</head>
<body>

  <!-- LOGIN -->
  <div id="login">
    <div class="menu-topbar">
      <div class="app-title">Cuestionario tipo test</div>
    </div>

    <input id="email" placeholder="Email" />
    <input id="password" type="password" placeholder="Contraseña" />
    <button onclick="register()">Registrarse</button>
    <button onclick="login()">Entrar</button>
  </div>

  <!-- MENÚ DE BLOQUES -->
  <div id="menu" style="display:none">
    <div class="menu-topbar">
      <div class="app-title">Cuestionario tipo test</div>
    </div>

    <h2>Selecciona un bloque</h2>
    <div id="menuBlocks"></div>

    <div class="menu-footer">
      <button id="failedBtn" class="block-mini">Responder preguntas falladas</button>
      <button id="firstOkBtn" class="block-mini">Responder preguntas acertadas a la primera</button>
    </div>
  </div>

  <!-- TEST -->
  <div id="test" style="display:none">
    <div class="test-topbar">
      <button id="backToMenuBtn">Menú</button>
      <div class="app-title">Cuestionario tipo test</div>
    </div>

    <h2 id="question"></h2>
    <div id="options"></div>
    <button id="nextBtn" disabled>Siguiente</button>
  </div>

  <!-- PANTALLA BLOQUE SUPERADO -->
  <div id="blockMsg" style="display:none"></div>

  <!-- FIREBASE (SIN NPM) -->
  <script src="https://www.gstatic.com/firebasejs/10.7.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.7.0/firebase-auth-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.7.0/firebase-firestore-compat.js"></script>

  <script>
    const firebaseConfig = {
      apiKey: "AIzaSyBg6x6x0BS1m9ysIsk-ADAn0QM_8z0dddI",
      authDomain: "test-2026-d2d80.firebaseapp.com",
      projectId: "test-2026-d2d80",
      storageBucket: "test-2026-d2d80.firebasestorage.app",
      messagingSenderId: "711197555818",
      appId: "1:711197555818:web:76cc8993337e1085b09e13"
    };

    firebase.initializeApp(firebaseConfig);
    const auth = firebase.auth();
    const db = firebase.firestore();
  </script>

  <script src="questions.js"></script>
  <script src="app.js"></script>

</body>
</html>
